#contato{
background-color: #f7f7f7;

}
#contato h1{
  font-weight: 100;
  font-family: 'Poppins';
  font-size: 3rem;
  text-align: left  ;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 50px;
}

.formContato{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.formContato label{
  margin-top: 20px;
    margin-bottom: 8px;
    font-size: 1.125rem;
  display: block;
  text-align: left !important;
  color: #0E1B5F;
  width: 50%;
}
.formContato input{
  padding: 10px;
  width: 50%;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 1.125rem;
  box-shadow: 2px 4px 4px #BDC6F3;
  border: 1px solid #0E1B5F;

}
.formContato textarea{
  border-radius: 8px;
  outline: none;
  border: none;
  width: 50% !important  ;
  max-height: 200px;
  height: 200px !important;
  padding: 20px;
  box-shadow: 2px 4px 4px #BDC6F3;
  border: 1px solid #0E1B5F;
}
label input:focus{
  color: #0E1B5F;
}
.formContato input:focus{
  color: #0C27B8;
}


.buttonContato{
    padding: 20px ;
    border: none;
    outline: none;
    margin-top: 40px;
    width: 200px;
    color: #E6E7EC;
    border-radius: 8px;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
     box-shadow: 2px 4px 4px #BDC6F3;
    background:linear-gradient(#0C27B8 ,#0E1B5F);
}

.formContato input::placeholder{
  color: #0E1B5F
}




@media(max-width:768px){
  #contato h1{
   font-size: 2rem;
   width: 100%;
    margin: auto;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 300;
  }

.formContato{
padding: 20px;
}

.formContato label{
   font-weight: normal !important;
  width: 100%;
  
}

    .formContato input{
      padding: 10px;
      width: 100%;
      box-shadow: 1px 2px 4px #888;
      border: 1px solid #888;
    }

    .formContato textarea{
      width: 100% !important  ;
    }

    .footer-contato {
      text-align: center;
      font-weight: .5rem;
      width: 100%;
      margin-top: 50px;
      border: 1px solid #888;
      
    }

}