header{
  background-color: #ffffff;
  display: flex;
  justify-content: space-around ;
  height: 80px;
  align-items: center;
  border-bottom: 2px solid #000;
  position: fixed;
  width: 100%;
  
}

nav a{
  font-size: 1rem;
  color: #000;
  border: 2px solid transparent;
  font-weight: 400;
}
.nav-links a:hover{
  border-bottom: 2px solid  #000;
  transition: .3s;
}

 nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
 }

 .active{
  border-bottom: 2px solid #fff;
 }
 
 .hidden{
  display: none;
}
 



