main{
  padding-top: 87px;
  text-align: center;
  background-color: #E9E9E9;
}

main h1{
  font-family : 'Poppins', cursive;
  color: #000202;
  font-size: 4rem;
  padding: 0px 0px;
  animation:  corTitulo 60s forwards ;
}



.footer-index p{
  width: 100%;
  background-color: #000202;
  text-align: center;
  margin-top: 100px;
}
