.imagens img{
  width: 300px;
  height: 300px;
object-fit: cover;
}

.imagens {
  width: 100%;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.comprarCopo{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 10px;
  border-top: 2px solid #333;
}
.produto{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 1px 8px #333;
  border-radius: 10px;
}
.produto a{
  text-align: center;
  font-weight: bold;
  width: 100%;
  color: #0E2408;
}
.produto a::before{
  content: '+';
  display: inline-block;
  text-align: left;
  color: #38C914;
  width: 30px;
  margin-left: -40px;
  align-self: center;
  height: 10px;
}
.produto img{
  border-radius:  10px 10px 0 0 ;
}
.comprarCopo {
  border-radius: 0px 0px 10px 10px ;
}
.comprarCopo img{
  width: 50px;
  height: 15px;
  border-right: 1px solid #a8a8;
  margin-left: -70px;
}
#produtos h1{
  margin: 70px 0;
  text-align: center;
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}
@media(max-width:768px){
  .imagens{
    width: 100%;
    margin: 0 auto;
  }
  .produto,.produto img,.comprarCopo{
    width: 100%;
  }
  .produto{
    margin: 0 auto;

  }
  .comprarCopo img {
    width:50px;
    height: 20px;
    margin-right: 50px;
    padding-right: 20px;
  }
}

/* DESCRIÇÃO DO PRODUTO */

#descricao-produtos{
  width: 100%;
  padding: 80px;
  text-align: center;
  border-bottom: 2px solid #fff;
  background-color: #fff;
}
.descricao-produtos-container{
  width: 100%;
  margin:auto;
  margin-bottom: 30px;
  border-bottom:   2px solid #aaa;
  padding-bottom: 30px;
}
.descricao-produtos-container h1{
  width: 100%;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #444;
}
.descricao-produtos-container p{
  margin-bottom: 10px;
  width: 70%;
  line-height: 1.5;
  font-size: 1.125rem;
  font-family: 'Roboto',sans-serif;
  margin: 0 auto;
}
.impressao{
  border-bottom: 2px solid #aaa;

}
.impressao h2{
  font-size: 3rem;
  color:#666;
  font-weight: 200;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.impressao p{
  width: 70%;
  line-height: 1.5;
  font-size: 1.125rem;
  font-family: 'Roboto',sans-serif;
  margin: 0 auto;
}
.impressao p:nth-child(4){
  margin-bottom: 30px;
}
.impressao a{
  display: block;
  padding: 20px;
  width: max-content;
  margin: 0 auto;
  border-top: 2px solid #aaa;
}
.impressao a:hover{
  background-color: black;
  margin: 0 auto;
  border-radius: 6px ;
  color: #aaa;
  transition: .3s  
}



/* RESPONSIVO */

@media(max-width:768px){
  #descricao-produtos{
    padding:50px ;
  }
  .descricao-produtos-container h1{
      font-size: 2rem;
      width: 100%;
      text-align: center;
  }  
  .descricao-produtos-container p{
    width: 100%;
  }
  .impressao h2{
    font-size: 2rem ;
    width: 100% ;
    text-align: center;
  }
  .impressao p{
    width: 100%;
  }
  #produtos h1{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 20px;
  }


}