@media(max-width:500px){

  main p{
    width: 80%;
    text-align: left;
  }
  main h1{
    font-size: 2rem;
    padding: 20px 0px;
  }
  .slide{
    width: 90%;
  }
  .slide-items{
    height: 300px;
  }
  
}