@media (max-width:1024px){
  .header-sobre{
    width: 100%;
  }
  #header-sobre nav{
    display: none;
  }
  .header-sobre-container{
    width: 100%;
  }
  .sobre-container{
    flex-direction: column;
    gap: 30px;

  }
  .valores li{
    text-align: left;
    margin-left: 20px;
    font-size: 1.125rem;
    font-weight: 300;
    color: #2C4B52;
  }

  .valores {
    height: 250px;
  }
  .sobre{
    width: 90% !important ;
    margin: 0 auto;
    margin-bottom: 20px !important;
  }
  .sobre h2{
    font-size: 5rem !important;
  }

  .valores h2{
    text-align: left;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 400;
    color: #102124;
    font-family: 'Passions Conflict', cursive;
  
  }
  
  .valores{
    margin: 0 auto;
    margin-top: -200px;
    width: 50%;
    box-shadow: 4px 8px 10px #102124;
    padding: 20px;
   border-radius: 8px;
    margin-bottom: 100px;
  }
  .sobre p{
    color: #6C6C6C;
    font-size: 1rem !important;
    line-height: 1.5;
    width: 100% !important;
    
  }
  .sobre-h1 {
      font-size: 5rem !important;
      width: 100%;
      text-align: left;
      font-weight: 100;
    }
  ul{ 
    margin-bottom: 100px;
    text-align: left;
  }
  .footer-sobre p {
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }


 

 

}