
 #header-sobre{
  background-color: #fff;
  display: flex;
  justify-content: space-around ;
  height: 80px;
  gap: 100px;
  align-items: center;
  border-bottom: 2px solid #fff;
  position: fixed;
  width: 100%;
  padding: 0 40px;
}
#header-sobre-container{
  z-index: 212121;
}
main{
  background-color: #ededed ;
  margin: 0 auto;
}

.sobre-h1{
  font-family: 'Passions Conflict', cursive;
  font-size: 10rem;  
  padding: 15px 0px;
  text-align: left;
  font-weight: 400;
  padding-left: 30px;
}

.sobre-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sobre{
  width: 70%;
  box-shadow: 1px 2px 10px #6C6C6C;
  padding: 80px;
  margin-bottom: 200px;
  margin-left: 30px;
  text-align: left;
  border-radius: 10px;
}
.sobre h2{
  color:#2A2D2E ;
  padding: 15px 0px;
  text-align: left;
  font-weight: 400;
  font-family: 'Passions Conflict', cursive;
  font-size: 8rem;
  }
.sobre p{
  color: #6C6C6C;
  font-size: 1.5rem;
  width: 80%;
  text-align: left;
  padding: 20px 0;
}
.sobre p:last-child{
  border-bottom: none;
}
.valores{
  margin: 0 auto;
  box-shadow: 2px 1px 8px #333;
  padding: 20px;
  border-radius: 8px;
}
.valores h2{
  text-align: left;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 400;
  color: #102124;
  font-family: 'Passions Conflict', cursive;
}
.valores li{
  font-weight: 300;
}


ul{
  padding: 5px;
  line-height: 2;
  position: relative;
  display: flex;
  flex-direction: column;
}
li{
  text-align: left;
  margin-left: 20px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #2C4B52;
}
li::before{
  position: absolute;
  content: '';
  width: 10px;
  height: 4px;
  background-color: #129CBA;
  margin-left: -20px;
  margin-top: 18px;
}



  .span-li{
    display: block;
    width: 100px;
    background-color: #fff;
    height: 2px;
    margin: 5px auto;
  }
  

 
 
.footer p{
  text-align: center ;
}



 
 
